@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@300;400;600&display=swap');

:root {
  --transparent-color: rgba(0,0,0,0);
}

[data-theme="light"] {
  --bg-color: #eff9da;
  --text-color: #232323;
  transition: all 0.5s ease-in;
}

[data-theme="dark"] {
  transition: all 0.5s ease-in;
  --bg-color:#232323;
  --text-color:#eff9da;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Lexend Peta', sans-serif;
}

button {
  font-family: 'Lexend Peta', sans-serif;
  cursor: pointer;
}

.main-page{
  width: 99vw;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

/*
* Navbar Page
*/

nav{
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > img{
  cursor: pointer;
  
}

nav > img:nth-child(1) {
  width: 3rem;
  padding: 1rem;
}

nav > img:nth-child(2) {
  width: 2rem;
  margin-right: 2rem;
}

/*
* Home Page
*/

.home-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 2px;
  font-family: 'Lexend Peta', sans-serif;
}

.home-div > button, .projects-div > button{
  color: var(--text-color);
  font-family: 'Lexend Peta', sans-serif;
  background-color: var(--transparent-color);
  border: 1px solid var(--text-color);
  padding: 1rem;
  border-radius: 1rem 0;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.home-div > button:hover, .projects-div > button:hover{
  transition: all 0.3s ease-in;
  background-color: var(--text-color);
  color: var(--bg-color);
}

/*
* Projects Page
*/

.projects-div{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 30%;
  margin-inline: auto;
}

/**
* Project 1
*/

.project1-div{
  margin-inline: auto;
  width: 90%;
  background-color: white;
  display: flex;
}

.project1-div > img {
  width: 40%;
}

.form-div-card{
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form-div-card h5 {
  margin: 0;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  color: #232323;
}

.form-div-card input {
  border: 1px solid rgba(128, 128, 128, 0.484);
  padding: 0.5rem;
  color: rgb(128, 128, 128);
  border-radius: 5px;
  width: calc(100% - 1.1rem);
  font-family: 'Lexend Peta', sans-serif;
  font-size: 0.7rem;
}

.form-div-card form {
  /* background-color: red; */
  width: 60%;
}

.form-div-card form>button {
  margin-top: 2rem;
  width: 100%;
  padding: 0.7rem;
  cursor: pointer;
  font-family: 'Lexend Peta', sans-serif;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #21092f;
}

.exp-date-card-cvc {
  display: flex;
  justify-content: space-between;
}

.exp-date-card-cvc input {
  width: 4rem;
}

.exp-date-card-cvc > label:nth-child(1) > input {
  margin-right: 0.5rem;
}

.cards-div {
  position: absolute;
  display: flex;
  flex-direction: column;
  /* background-color: red; */
  width: 40%;
  gap: 1rem;
  /* height: 100%; */
  margin-left: 5%;
  margin-top: 15%;
  align-items: center;
  /* justify-content: center; */
}

.cards-div  img {
  width: 20rem;
}

.card-div-back > img {
  margin-left: 2rem;
}

.card-div-front > div{
  position: absolute;
  top: 2rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.card-div-front > div > h5 {
  font-size: 1.1rem;
  letter-spacing: 2px;
  padding-left: 1rem;
}

.name-date-front-card {
  display: flex;
  /* background-color: red; */
  justify-content: space-between;
  width: 18rem;
  padding-left: 1rem;
}

.card-div-back > div{
  position: absolute;
  color: white;
  left: 78%;
  top: 15.6rem;
  letter-spacing: 1px;
}

/*
* Project2 Page
*/

.pr2-home-div {
  height: 40rem;
}

.first-planet-background {
  background-image: url('./components/2ndProject/home/background-home-desktop.jpg');
}

.second-planet-background {
  background-image: url('./components/2ndProject/destination/background-destination-desktop.jpg');
}

.third-planet-background {
  background-image: url('./components/2ndProject/crew/background-crew-desktop.jpg');
}

.fourth-planet-background {
  background-image: url('./components/2ndProject/technology/background-technology-desktop.jpg');
}

.pr2-nav {
    display: flex;
    gap: 2rem;
    background: rgba(255,255,255,0.2);
    padding: 1rem;
    margin-top: 1rem;
    width: 70%;
    margin-left: auto;
    backdrop-filter: blur(5px);
    
}

.pr2-nav > button{
  background: var(--transparent-color);
  color: rgb(180, 180, 180);
  border: none;
  cursor: pointer;
}

.pr2-nav > button:hover {
  color: white;
}

.pr2-home-context {
  color: #D0D6F9 ;
  width: 50%;
}

.pr2-home-context > h1 {
  color: white;
  font-size: 5rem;
}

.pr2-home {
  display: flex;
  padding: 1rem;
  margin-top: 10%;
  justify-content: space-evenly;
  align-items: center;
}

.pr2-home > button {
  border-radius: 50%;
  width: 10rem;
  height: 10rem;
  border: none;
  cursor: pointer;
  background-color: white;
  transition: all 0.3s ease-in;
}

.pr2-home > button:hover{
  outline: 3rem solid rgba(128, 128, 128, 0.215);
  background-color: white;
  transition: all 0.3s ease-in;
}

/*
* Destination Project 2
*/

.pr2-destination-div {
  display: flex;
  padding: 1rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 5rem;
}

.pr2-image-planet{
  width: 45%;
  color: white;
}

.pr2-image-planet > img {
  width: 20rem;
}

.pr2-text-planet {
  width: 50%;
  color: #D0D6F9 ;
}

.pr2-text-planet > h1 {
  color: white;
  font-size: 5rem;
  margin: 0;
}

.pr2-distance-planet{
  display: flex;
  justify-content: space-between;

}

.pr2-distance-planet > div > h4 {
  color: white;
  font-size: 1.5rem;
  margin-top: 0;
}
.planet-nav {
  display: flex;
  /* justify-content: space-evenly; */
  gap: 2rem;
}

.planet-nav > button {
  background-color: var(--transparent-color);
  color: #D0D6F9;
  border: none;
}

.planet-nav > button:hover {
  color: white;
}

/*
* Crew Project 2
*/

.pr2-crew {
  display: flex;
  /* align-items: flex-end; */
  /* background-color: red; */
  /* height: 80%; */
  padding: 1rem;
  margin-top: 4rem;
  width: 90%;
  margin-inline: auto;
  align-items: center;
}

.pr2-crew > img {
  width: 20rem;

}
.pr2-crew-text {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 60%;
}

.pr2-crew-context > h3 {
  color: gray;
}

.pr2-crew-context > h1 {
  font-size: 2.2rem;
}

.pr2-crew-context > p {
  color: #D0D6F9;
}

.pr2-crew-text input[type="radio"] {
  -webkit-appearance : none;
  appearance         : none;
  width: 1em;
  height: 1em;
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
  margin-right: 1rem;
}

.pr2-crew-text input[type="radio"]:checked {
  background-color: white;
}

/*
* Project 3 Page
*/

.pr3-main-div{
  background-color: #f1f5fe;
  width: 90%;
  margin-inline: auto;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5rem;
}

.pr3-main-text {
  text-align: center;
  color: #293356;
}

.pr3-card {
  background-color: white;
  width: 35rem;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 1rem;
  color: #858fad;
}

.pr3-card-first-text {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pr3-card-billing {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-left: auto;
}

.pr3-card-start-trial {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1px solid #bdccff;
}

.pr3-card-start-trial > button {
  background-color: #293356;
  color: #bdccff;
  border: none;
  padding: 1rem 3rem;
  border-radius: 2rem;
}

.pr3-card-start-trial > button:hover {
  color: white;
}

.pr3-card-start-ben > h6 {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.pr3-card-billing>h6:nth-child(4){
  background-color: #feece7;
  padding: 0.2rem 0.5rem;
  color: #ff8c66;
  border-radius: 1rem;
}

.pr3-card-billing > img {
  width: 2.5rem;
  cursor: pointer;
}

.pr3-card-first-text > h4:nth-child(2) > span {
  color: #293356;
  font-size: 2rem;
}

.pr3-card > input {
  appearance: none; 
  width: 100%; 
  background: #bdccff;
  border-radius: 1rem;
  height: 0.5rem;
  cursor: pointer;
  
}

.pr3-card > input::-webkit-slider-thumb{
  width: 1.5rem;
  height: 1.5rem;
  background: #a5f3eb;
  border-radius: 50%;
  border: none;
}

.pr3-card > input::-moz-range-thumb {
  width: 1.5rem;
  height: 1.5rem;
  background: #a5f3eb;
  border-radius: 50%;
  border: none;
}

.pr3-card > input::-moz-range-thumb:hover {
  background: #91d6cf;
}

.pr3-card > input::-webkit-slider-runnable-track{
  background-color: #a5f3eb;
  height: 0.5rem;
  border-radius: 1rem;
}

.pr3-card > input::-moz-range-progress {
  background-color: #a5f3eb;
  height: 0.5rem;
  border-radius: 1rem;
}

/*
* Project 4
*/

.pr4-main-div{
  background-color: white;
  color: #232323;
  width: 30rem;
  padding: 2rem;
  border-radius: 2rem 2rem 10rem 2rem;
  margin-inline: auto;
}

.pr4-main-div>div:nth-child(1){
  display: flex;
  gap: 2rem;
  margin-bottom: 2rem;
  align-items: center;
  border-bottom: 2px solid rgba(128, 128, 128, 0.468);
  padding-bottom: 1rem;
}

.pr4-main-div>div:nth-child(1) input{
  font-size: 1.5rem;
  width: 5rem;
  padding: 0.5rem 1rem 0.5rem 0.5rem;
  letter-spacing: 1px;
  border-radius: 5px;
  border: 2px solid rgba(128, 128, 128, 0.468);
}

.pr4-main-div h5 {
  margin-bottom: 0.3rem;
}



.pr4-main-div img{
  background-color: #844ef9;
  border-radius: 50px;
  padding: 0.5rem;
  cursor: pointer;
  margin-top: 3rem;
}

.pr4-main-div img:hover{
  background-color: #6d2aff;
}

.pr4-main-div>div:nth-child(2){
  font-size: 2rem;
}

.pr4-main-div span{
  color: #844ef9;
}