@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta:wght@300;400;600&display=swap');

:root {
  --transparent-color: rgba(0,0,0,0);
}

[data-theme="light"] {
  --bg-color: #eff9da;
  --text-color: #232323;
  transition: all 0.5s ease-in;
}

[data-theme="dark"] {
  transition: all 0.5s ease-in;
  --bg-color:#232323;
  --text-color:#eff9da;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  height: 100vh;
  background-color: var(--bg-color);
  color: var(--text-color);
  font-family: 'Lexend Peta', sans-serif;
}

.main-page{
  width: 100vw;
  display: flex;
  flex-direction: column;
  gap: 5rem;
}

/*
* Navbar Page
*/

nav{
  /* background-color: red; */
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav > img{
  cursor: pointer;
  
}

nav > img:nth-child(1) {
  width: 3rem;
  padding: 1rem;
}

nav > img:nth-child(2) {
  width: 2rem;
  margin-right: 2rem;
}

/*
* Home Page
*/

.home-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  letter-spacing: 2px;
  font-family: 'Lexend Peta', sans-serif;
}

.home-div > button, .projects-div > button{
  color: var(--text-color);
  font-family: 'Lexend Peta', sans-serif;
  background-color: var(--transparent-color);
  border: 1px solid var(--text-color);
  padding: 1rem;
  border-radius: 1rem 0;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.home-div > button:hover, .projects-div > button:hover{
  transition: all 0.3s ease-in;
  background-color: var(--text-color);
  color: var(--bg-color);
}

/*
* Projects Page
*/

.projects-div{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 30%;
  margin-inline: auto;
}